{% extends 'imprenta/base.html' %}

{% block contenido %}
<div>
    <div class="text-center my-5">
        <pre>
    Mi nombre es Martin Giuliano,estoy interesado en la programacion por un gusto personal que siempre tuve la intención 
    de cumplir y a la vez como potencial herramienta para un tele-trabajo que me permita mayor libertad profesional. 
    Espero este sea el inicio de mucha mas capacitación y me llevo muchas valiosas herramientas de este curso.
    Aprovecho para agradecer al profesor y a todos los tutores que me acompañaron en este curso.
    
    Feliz 2023 para todos!!
        </pre>
    </div>
</div>

{% endblock %}
