{% extends 'ejemplo/base.html' %}

{% block titulo%}
Lista de Mascotas
{% endblock %}
{% block contenido %}

    <a href="/mascotas/alta">Nueva Mascota</a>
    <ul>
    {% for mascota in lista_mascotas %}
        <li>
           id: {{mascota.id}}, Nombre: {{mascota.nombre}}, raza: {{mascota.raza}}, edad: {{mascota.edad}}
           <a href="/mascotas/actualizar/{{ mascota.id }}">Actualizar</a>
           <a href="/mascotas/borrar/{{ mascota.id }}">Borrar</a>
        </li>
    {% endfor %}
      </ul>
{% endblock %}

